*, *::after, *::before
  box-sizing: border-box
img
  max-width: 100%
  vertical-align: top
a
  text-decoration: none
body
  @include reg
ul
  margin: 0
  padding: 0

  list-style: none
h1, h2, h3, h4, h4
  margin: 0
  padding: 0

  font-weight: normal
p
  margin: 0
  padding: 0
.container
  max-width: 1168px
  width: 95%
  margin: 0 auto
.btn
  @include bold
  text-transform: uppercase
  line-height: 1.2

  border: none
  background-color: $btn-bg
  color: #fff

  cursor: pointer
.title
  text-align: center
  font-size: 36px
  color: #000
  line-height: 1.2
  &::after
    content: ''
    display: block
    margin: 1.2rem auto 2.4rem
    background-color: $btn-bg
    width: 31px
    height: 2px
.subtitle
  margin-bottom: 4.5rem

  @include light
  font-size: 20px
  line-height: 1.2
  text-align: center
.arrow
  cursor: pointer
.section
  padding-top: 5.9rem
  padding-bottom: 2rem
@media screen and (max-width: 576px)
  .section
    padding: 20px 0